@model mvcTest.Models.Referencepoint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Referencepoint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReferencePointId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
