@model mvcTest.Models.Joboffer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Joboffer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobOfferId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
